@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


.container_home {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;

   .home_img{
      width: 50%;
      background-image: url("./images/home-page4-picture.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
   }

   .titleAndButton {
     width: 50%;
     display: flex;
     padding: 5%;
     flex-direction: column;
     justify-content: center;
   }
}

button {
  background-color:  #07b86b;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}