.event-list-page-container {
  margin: 5%;
  display: flex;
  justify-content: space-around;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-event {
  width: 70%;
  padding: 2%;
  border: 2px solid rgb(53, 131, 221);
  border-radius: 10px;
  flex-grow: 2;
}

.single-event p {
  color: rgb(37, 49, 54);
}

.single-event hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.single-event span {
  font-family: Georgia, serif;
  font-weight: bold;
  color: rgb(0, 102, 255);
}

.create-event {
  display: flex;
  border: 2px solid rgb(53, 131, 221);
  border-radius: 10px;
  padding: 2%;
}