.event-list-page-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.event-list {
 display: flex;
 justify-content: space-evenly;
  
}

.single-event {
  width: 250px;
}

// .message {
 
// }

// .create-event {
  
// }