.restaurantList-container {
  position: relative;
  right: 32vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2px;
  column-gap: 2px;
}

.restaurants {
  border-radius: 15px;
  margin: 2px;
  width: 250px;
  height: 150px;
  color: rgb(221, 236, 191);
  font-style: oblique;
  font-weight: bold;
  font-size: small;
}
